services:
  downstream:
    build:
      context: .
      dockerfile: sde.ma.non.virtual.downstream/Dockerfile
    image: sde-ma-non-virtual-downstream:latest
    container_name: downstream
    ports:
      - "8081:8080"

  aggregator:
    build:
      context: .
      dockerfile: sde.ma.non.virtual.aggregator/Dockerfile
    image: sde-ma-non-virtual-aggregator:latest
    container_name: aggregator
    ports:
      - "8080:8080"
    environment:
      DOWNSTREAM_BASE_URL: "http://downstream:8080"
    depends_on:
      - downstream
