spring:
  application:
    name: sde-ma-non-virtual

#downstream:
#  base-url: ${DOWNSTREAM_BASE_URL:http://localhost:8080}

server:
  port: ${SERVER_PORT:8081}

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  endpoint:
    prometheus:
      access: unrestricted
